Measure of dispersion

In [1]:
ages_lst = [23,44,32,54,65,32,76,74]

In [2]:
import numpy as np

In [4]:
mean=np.mean(ages_lst)

In [5]:
mean

50.0

In [8]:
var= np.var(ages_lst)
var

363.25

In [7]:
var

363.25

In [12]:
std=np.std(ages_lst)
std

19.059118552545918

In [15]:
import pandas as pd

In [16]:
data=[[10,12,13],[34,23,54],[34,54,32]]

In [21]:
df=pd.DataFrame(data,columns=["A","B","C"])

In [22]:
df

    A   B   C
0  10  12  13
1  34  23  54
2  34  54  32

In [23]:
df.var()

A    192.000000
B    474.333333
C    421.000000
dtype: float64

In [25]:
##row vise
df.var(axis=0)

A    192.000000
B    474.333333
C    421.000000
dtype: float64

In [26]:
df.var(axis=1)

0      2.333333
1    247.000000
2    148.000000
dtype: float64