In [39]:
import pymongo



client = pymongo.MongoClient("mongodb+srv://rituraj0413:<password>@cluster0.rws2uip.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [40]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/anaconda3/lib/python3.9/site-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/anaconda3/lib/python3.9/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [41]:
client

MongoClient(host=['ac-vwsteux-shard-00-00.rws2uip.mongodb.net:27017', 'ac-vwsteux-shard-00-01.rws2uip.mongodb.net:27017', 'ac-vwsteux-shard-00-02.rws2uip.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-15cvrb-shard-0', tls=True)

In [47]:
client = pymongo.MongoClient("mongodb+srv://rituraj0413:Veenarahul2005@cluster0.rws2uip.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [48]:
db = client['pwskill']

In [49]:
coll_create= db["my_record"]

In [59]:
data3 = {"name" : "ritu",
        "class" : "datascece master",
        "timing" : "flexi"
}

In [60]:
coll_create.insert_one(data3)

In [61]:
data2 = {"list_course" : ["course " , "datascince", "web dev"],
         "mentor" : ["krishsudh" , "sudh" , "hydra"]}

In [62]:
coll_create.insert_one(data2)

In [63]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [64]:
coll_create.insert_many(data3)

In [65]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [66]:
coll_create.insert_one(data4)

In [67]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [68]:
coll_create.insert_many(list_of_records)

In [69]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8ed341c2122ddbc91529b'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8eea51c2122ddbc91529c'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8efdf1c2122ddbc91529d'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8f0031c2122ddbc91529e'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8f3491c2122ddbc91529f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8f3491c2122ddbc9152aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f8f35f1c2122ddbc9152ab'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f8f3761c2122ddbc9152ac'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ad'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ae'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [70]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [71]:
coll_create.insert_many(random_data)

In [72]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8ed341c2122ddbc91529b'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8eea51c2122ddbc91529c'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8efdf1c2122ddbc91529d'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8f0031c2122ddbc91529e'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8f3491c2122ddbc91529f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8f3491c2122ddbc9152aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f8f35f1c2122ddbc9152ab'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f8f3761c2122ddbc9152ac'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ad'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ae'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [73]:
coll_create.find_one()

{'_id': ObjectId('63f8ed341c2122ddbc91529b'),
 'name': 'ritu',
 'class': 'datascece master',
 'timing': 'flexi'}

In [74]:
for i in coll_create.find({'companyName': 'iNeuron'}):
    print(i)

{'_id': ObjectId('63f8f3761c2122ddbc9152ac'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ad'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ae'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [75]:
for i in coll_create.find({'_id' : {'$gte' : '4'}}):
    print(i)

{'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'}

In [76]:
coll_create.update_many({'companyName': 'iNeuron'} ,{"$set" :{'companyName': 'pwskills'}} )

In [77]:
for i in coll_create.find():
    print(i)

{'_id': ObjectId('63f8ed341c2122ddbc91529b'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8eea51c2122ddbc91529c'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8efdf1c2122ddbc91529d'), 'name': 'ritu', 'class': 'datascece master', 'timing': 'flexi'}
{'_id': ObjectId('63f8f0031c2122ddbc91529e'), 'list_course': ['course ', 'datascince', 'web dev'], 'mentor': ['krishsudh', 'sudh', 'hydra']}
{'_id': ObjectId('63f8f3491c2122ddbc91529f'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a0'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a1'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a2'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a3'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a4'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a5'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a6'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a7'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a8'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8f3491c2122ddbc9152a9'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8f3491c2122ddbc9152aa'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f8f35f1c2122ddbc9152ab'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('63f8f3761c2122ddbc9152ac'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ad'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('63f8f3761c2122ddbc9152ae'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [78]:
coll_create.drop()

In [79]:
for i in coll_create.find():
    print(i)

In [80]:
##dropisused to delete